# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Environment files
.env
.venv/
env/
venv/
ENV/

# IDE settings
.vscode/
.idea/

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.db
*.sqlite
*.sav

# System files
.DS_Store
Thumbs.db

# Python-specific
*.log
*.bak
*.tmp

# Exported files
*.html
*.pdf
requirements.txt